.td {
	width: inherit;
	text-align: left;
	float: left;
	margin-bottom: 1rem;
	font-size: 1rem;
}

.th {
	text-align: left;
	font-size: 0.8rem;
}

.id {
	margin-bottom: 1rem;
}

.button {
	background-color: rgba(#fcbfb7, 0.5);
	border: none;
	border-radius: 6px 6px 6px 6px;
	height: 1.5rem;
	font-size: 0.8rem;
	color: #ffffff;
}

.type {
	float: left;
	margin-bottom: 1rem;
	font-size: 0.75rem;
}

.table {
	font-size: 10px;
	// width: 300px;
}
