body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
#root {
	height: 100%;
}
.contents-wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: 100px; /* footer height */
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	padding: 10px;
	border-top: 1px, solid, #d9d9d9;
	font-size: 12px;
	background-color: #f1f1f1;
	text-align: center;
	color: #888;
}
